
/* .background {
    width: 100%;
    background-color: darkturquoise;
    background-size: cover;
    color: white;
    text-align: center;
} */
div{
    background-color:rgb(4, 4, 59);
    width: 100%;
    
}
.back
{
    color: wheat;
}
