<!-- <div class="main">
    <div class="left">
        <p><a routerLink="book">view books</a></p>
    </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div> -->
<div>
    <h1>{{title}}</h1>
    <div class="back">
        <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" class="img-responsive" src="assets/images/jaik-Copy.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>THE REAL STORY</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">AMERICA</span></h4><h4></h4>
                  <div class="left">
                    <p><a routerLink="book">view books</a></p>
                </div>
                </div>
                <div class="right">
                    <router-outlet></router-outlet>
                </div>
                  
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
        
          
          <!-- <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="jaik.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>THE CITY</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">ENGLAND</span></h4><h4>
                    <div class="left">
                      <p><a routerLink="book">view books</a></p>
                  </div>
                  
                  <div class="right">
                      <router-outlet></router-outlet>
                  </div>
                    
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
                   -->
          <!-- <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="ja.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Measuring Your Link Building with Google Analytics</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">EUROPE</span></h4><h4>
                    <div class="left">
                      <p><a routerLink="book">view books</a></p>
                  </div>
                  
                  <div class="right">
                      <router-outlet></router-outlet>
                  </div>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
    
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="kl.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>TrendPaper - What's Trending in the World</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">INDIA</span></h4><h4>
                    <div class="left">
                      <p><a routerLink="book">view books</a></p>
                  </div>
                  
                  <div class="right">
                      <router-outlet></router-outlet>
                  </div>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          </div>
          <!--/stories-->
          
        
          <!-- <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="kl.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>TrendPaper - What's Trending in the World</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">INDIA</span></h4><h4>
                    <div class="left">
                      <p><a routerLink="book">view books</a></p>
                  </div>
                  
                  <div class="right">
                      <router-outlet></router-outlet>
                  </div>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          </div> -->
          <!--/stories-->
          
        
        
          
        
      
                                                                                 
                                                    
                                                      
       <!--/col-12-->
    
    
                                                
                                                                                
    <!-- <hr>
    
    <div class="container" id="footer">
    <div class="row">
    <div class="col col-sm-12">
      
      
      
    </div>
    </div>
    </div>
    
    <hr>
    
    <hr> -->
    
    
      
    
        
          
    
