<div class="uoo">

<div class="row">    
            
    <form method="GET" action="">
        Title:
        <br><input type="text" name="title">
        <br>
        <br>
        Author:<br><input type="text" name="author">
        <br>
        <br>
        Genre:<br><input type="text" name="genre">
        <br>
<br>
        Image:<br><input type="file" name="image">
        <br>
        <br>
        <button type="submit">Add</button> 
        
    </form>
</div>
                            
</div>